//colors
$darkblue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(233, 8%, 62%);
$veryLightGray: hsl(0, 0%, 98%);
$purple : hsl(311, 98%, 36%);
$black: hsl(0, 0%, 0%);

//Font Sizes
$font-med: 1.125rem; // 14px
$font-sm: 0.825rem; //18px
$font-bg: 1.75rem;

//Footer
$footer-background-color: #333;
$footer-text-color: #fff;
$footer-column-width: 25%;
